:root {
     --page-background: #fff;  /* white */
    --text-color: #000;       /* black */
    --dropbdr-color: #e0e0e0;  /* light grey */
    --dropbtn-bcolor: #f5f5f5;  /* nearly white (background) */
    --majsep-color: #e0e0e0;
    --minsep-color: #e0e0e0;
    --link-color: #0000ee;    /* HTML standard color */
    --linkv-color: #551a8b;   /* HTML standard color */
    --linkh-color: #ff8a00;   /* Orange! */
    --shadow-color: 0,0,0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #121212;  /* very dark grey */
    --text-color: #fff;       /* white */
    --dropbdr-color: #424242;  /* medium dark gray */
    --dropbtn-bcolor: #212121;  /* dark gray */
    --majsep-color: #ff8a00;
    --minsep-color: #424242;
    --link-color: #80deea;    /* lighter teal than std */
    --linkv-color: #80deea;   /* lighter teal than std */
    --linkh-color: #ff8a00;   /* Orange! */
    --shadow-color: 255,255,255;
  }
}

/* The 'about me' banner at the top of my home page */

@media only screen and (max-width: 720px) {
/* Narrow (small screen) */
  .homebanner {
  }
  .myintro {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 0.8rem;
    line-height: 1.05rem;
  }
  .myelsewhere {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .myelsewhere li {
    display: inline-block;
    font-size: 8px;
  }
  .hclinks li:not(:first-child) {
    padding-left: 6px;
  }
  .hclinks li:not(:last-of-type) {
    padding-right: 6px;
    border-right: 1px solid var(--minsep-color);  /* was #aaa */

  }
  .hclinktxt {
    display: none;
  }
  .myelsewhere {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* H-card style banner for the top of the home page (only) */
.homebanner {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; 
  width: 100%;
  margin-top: 10px;
}

.myphoto {
  width: 100%;
}
.myintro {
  padding: 0 10px 0 10px;
}
.myelsewhere {
  padding: 0 0 0 10px;
  line-height: 1.05rem;
}
.myelsewhere li {
  font-size: 0.8rem;
}

/* Visual styling */
.myintro .myname {
  font-weight: 600;
  padding-bottom: 10px;
}
.hclinks {
  list-style-type: none;
  padding: 0px;
  margin: 12px 0 0 0;
}

.homebanner a:link    {color: var(--text-color);  text-decoration: none; }
.homebanner a:visited {color: var(--text-color);  text-decoration: none; }
.homebanner a:hover   {color: var(--linkh-color); text-decoration: none; }