/* 
 * Based on the fabulous work of Jen Simmons:
 * https://codepen.io/jensimmons/pen/BKPGov?editors=1100)
 */

.photogallery * {
  box-sizing: border-box;
}
.photgallery {
  margin-bottom: 3rem;
}
.photogallery ul {
  columns: 200px;
  break-inside: avoid;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}
.photogallery li {
  list-style-type:none;
}
.photogallery img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.5);
}