:root {
    --page-background: #fff;  /* white */
    --text-color: #000;       /* black */
    --dropbdr-color: #e0e0e0;  /* light grey */
    --dropbtn-bcolor: #f5f5f5;  /* nearly white (background) */
    --majsep-color: #e0e0e0;
    --minsep-color: #e0e0e0;
    --link-color: #0000ee;    /* HTML standard color */
    --linkv-color: #551a8b;   /* HTML standard color */
    --linkh-color: #ff8a00;   /* Orange! */
    --shadow-color: 0,0,0;
    --pre-color: #e0e0e0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #121212;  /* very dark grey */
    --text-color: #fff;       /* white */
    --dropbdr-color: #424242;  /* medium dark gray */
    --dropbtn-bcolor: #212121;  /* dark gray */
    --majsep-color: #ff8a00;
    --minsep-color: #424242;
    --link-color: #80deea;    /* lighter teal than std */
    --linkv-color: #80deea;   /* lighter teal than std */
    --linkh-color: #ff8a00;   /* Orange! */
    --shadow-color: 255,255,255;
    --pre-color: #424242;
  }
}

@media only screen and (max-width: 720px) {
  /* Narrow (small screen) */
  body {
    margin: 5vh 5vw;
  }
  .miconlabel { display: none; }  /* Webmention icon labels */
}

@media only screen and (min-width: 720px) {
  /* Other (not-narrow) screens */
  body {
    margin: 40px 40px 40px 40px;
    max-width: 700px;
  }
}

html {
  font-family: 'Titillium Web';
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4rem;
  box-sizing: border-box;
  background-color: var(--page-background);
  color: var(--text-color);
}

body {
}

a:link { color: var(--link-color); }
a:visited { color: var(--linkv-color); }
a:hover { color: var(--linkh-color); }

/* Resize headings (smaller than default) */
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
h3 {
  font-size: 1.15rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}

code[class*="language-"] {
 border-radius:0 !important;
 overflow-x:scroll !important;
 white-space:pre !important;
 display:block !important;
 font-size: 0.7rem;
}

/*
pre {
  width: 100%;
  padding: 0px;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 0.9rem;
  line-height: 1.2rem;
  background: var(--pre-color);
  border: 1px solid var(--text-color);
}
pre code {
  padding: 0px;
  color: var(--text-color);
}
code {
  padding: 2px 6px 2px 6px;
  background-color: var(--pre-color);
  font-size: 0.9rem;
}
*/


/* Site-wide main navigation bar */
.navheader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--majsep-color);
}

.sitetitle {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.navmenu {
}

.navmenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline;
  font-weight: 400;
}

.navmenu li {
  display: inline-block;
  padding-right: 20px;
}

.navheader a {
  text-decoration: none;
  color: var(--text-color);
}

.navheader a:hover {
  color: var(--linkh-color);
}

/* For pages that use the footer nav bar */
.navfooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 5px;
  border-top: 2px solid var(--majsep-color);
}

.footersitetitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 15px;
}

.navfootermenu {
}

.navfootermenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline;
  font-weight: 400;
}

.navfootermenu li {
  display: inline-block;
  padding-right: 20px;
}

.navfooter a {
  text-decoration: none;
  color: var(--text-color);
}

.navfooter a:hover {
  color: var(--linkh-color);
}


/* Style Dropdown Button for any relevant menus  */
.dropbtn {
  padding: 0px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--page-background);
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-align: left;
  min-width: 180px;
  border: 1px solid var(--dropbdr-color);
  box-shadow: 0px 8px 16px 0px rgba(var(--shadow-color),0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--text-color);
}
/* Links inside the dropdown */
.dropdownitem {
  padding: 2px 8px 2px 36px;
  text-indent: -12px;
  display: block;
  font-weight: 300;
  min-height: 1.5rem;
}

.dropdown-subhead {
  color: var(--text-color);
  padding: 2px 4px;
  display: block;
  font-weight: 400;
}
.dropdown-exit {
  padding: 2px 4px 4px 4px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--dropbtn-bcolor);
  color: var(--linkh-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--dropbtn-bcolor);
  color: var(--linkh-color);
}
.dropdownsep {
  color: var(--minsep-bcolor);
  border: 1px solid var(--minsep-color);
}

/* For pages that have titles & subtitles */
.pagehead {
  margin: 20px 0 1.8rem 0;
}

.pagetitle {
  font-size: 1.75rem; /* Larger than H1! */
  line-height: 1.85rem;
  margin: 0 0 0.4rem 0;
  font-weight: 600;
}
.pagesubtitle {
  font-size: 1.3rem; /* Smaller than H1 (= H2) */
  font-style: italic;
}
.pagedate {
  font-size: 0.8rem;
}

/* The 'Published' date for posts can be a link to the post */
.pagedate a {
  text-decoration: none;
}
.pagedate a:link { color: var(--text-color); }
.pagedate a:visited { color: var(--text-color); }
.pagedate a:hover { color: var(--linkh-color); }

.apptitle {
  font-size: 2rem;
  line-height: 2.1rem;
  text-align: center;
}

.postlisttitle {
  font-size: 1.3rem;
  margin: 0 0 0 0;
  font-weight: 600;
}
.postlistsubtitle {
  font-size: 1.0rem;
}
.postlistfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.postlisttags {
  font-size: 0.8rem;
  text-align: right;
}

/* Style an <hr> to separate posts */
.postseparator {
  width: 60%;
  border: 1px solid var(--majsep-color);
}

.postbox {
  margin: 10px 0 10px 0;
  padding: 10px;
}

.fancyseparator {
  padding: 0;
  border: none;
  height: 2px;
  background-image: linear-gradient(to left, rgba(0,0,0,0), var(--majsep-color), rgba(0,0,0,0));
  color: var(--majsep-color);
}

/* Styling for displaying webmentions */
.wm_summary {
}

.menicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
}
.micon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.3vw;
  font-size: 0.8rem;
}


/* Rules for sizing icons. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }