@media only screen and (max-width: 720px) {
  /* Narrow (small screen) */
  body {
    margin: 5vh 5vw;
  }
  .miconlabel { display: none; }  /* Webmention icon labels */
}

@media only screen and (min-width: 720px) {
  /* Other (not-narrow) screens */
  body {
    margin: 20px 40px 40px 40px;
    max-width: 700px;
  }
}

html {
  font-family: 'Titillium Web';
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4rem;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.4s, color 0.4s;
}

/* General links in the body of pages, page text, etc. */
a:link { color: var(--color-primary); }
a:visited { color: var(--color-primary); }
a:hover { color: var(--color-bg); background-color: var(--color-primary); }

/* Special class for <a> links in menus, navbars, footers, with only hover highlight styling */
.hoverlink         { text-decoration: none; }
.hoverlink:link    { color: var(--color-text); }
.hoverlink:visited { color: var(--color-text); }
.hoverlink:hover   { color: var(--color-primary); background-color: var(--color-bg); }
/* Likewise for <a> links that just contain images/figures */
.piclink:hover { background-color: var(--color-bg); }


/* Resize headings (smaller than default) */
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
h3 {
  font-size: 1.15rem;
  font-weight: 600;
}
h4 {
  font-size: 1rem;
  font-weight: 600;
}
strong {
  font-weight: 600;
}

code[class*="language-"] {
 border-radius:0 !important;
 overflow-x:scroll !important;
 white-space:pre !important;
 display:block !important;
 font-size: 0.7rem;
}
figure {
  margin: 0;
  position: relative;
}
figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  padding: 5px;
  mix-blend-mode: screen;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
}
.figure_right {
  float: right;
  margin: 0 0 0 10px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postbox li {
  padding: 0px 0px 0.6em 0.8em;
  list-style-type: "\2022";
}


.postbox li.tight {
  padding: 0px 0px 0.0em 0.8em;
}

/*
pre {
  width: 100%;
  padding: 0px;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 0.9rem;
  line-height: 1.2rem;
  background: var(--pre-color);
  border: 1px solid var(--text-color);
}
pre code {
  padding: 0px;
  color: var(--text-color);
}
code {
  padding: 2px 6px 2px 6px;
  background-color: var(--pre-color);
  font-size: 0.9rem;
}
*/

/* Site-wide main navigation bar */
.navheader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--color-primary-offset);
}

.sitetitle {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 15px;
}

.navmenu {
}

.navmenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline;
  font-weight: 400;
}

.navmenu li {
  display: inline-block;
  padding-right: 20px;
}

/* For pages that use the footer nav bar */
.navfooter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
  border-top: 2px solid var(--color-primary-offset);
}

.footersitetitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 15px;
}

.navfootermenu {
}

.navfootermenu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline;
  font-weight: 400;
}

.navfootermenu li {
  display: inline-block;
  padding-right: 20px;
}

/* Style Dropdown Button for any relevant menus  */
.dropdown__btn {
  padding: 0px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown__content {
  display: none;
  position: absolute;
  background-color: var(--color-bg);
  font-size: 0.8rem;
  line-height: 1.1rem;
  text-align: left;
  min-width: 180px;
  border: 1px solid var(--color-border);
  box-shadow: 0px 8px 16px 0px rgba(var(--color-shadow),0.2);
  z-index: 1;
}

.dropdown__content a {
  text-decoration: none;
  color: var(--color-text);
}
/* Links inside the dropdown */
.dropdown__item {
  padding: 2px 8px 2px 36px;
  text-indent: -12px;
  display: block;
  font-weight: 300;
  min-height: 1.5rem;
}

.dropdown__subhead {
  color: var(--color-text);
  padding: 2px 4px;
  display: block;
  font-weight: 400;
}
.dropdown__exit {
  padding: 2px 4px 4px 4px;
  display: block;
}

.dropdown.isopen .dropdown__content {
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown__content {
  display: block;
}

/* Change the text color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown__btn {
  color: var(--color-primary);
}
.dropdown__sep {
  color: var(--color-border);
  border: 1px solid var(--color-border);
}

/* For pages that have titles & subtitles */
.pagehead {
  margin: 20px 0 1.8rem 0;
}

.pagetitle {
  font-size: 1.75rem; /* Larger than H1! */
  line-height: 1.85rem;
  margin: 0 0 0.4rem 0;
  font-weight: 600;
}
.pagesubtitle {
  font-size: 1.3rem; /* Smaller than H1 (= H2) */
  font-style: italic;
}
.pagedate {
  font-size: 0.8rem;
}

.apptitle {
  font-size: 2rem;
  line-height: 2.1rem;
  text-align: center;
}

.postlisttitle {
  font-size: 1.3rem;
  margin: 0 0 0 0;
  font-weight: 600;
}
.postlistsubtitle {
  font-size: 1.0rem;
}
.postlistfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.postlisttags {
  font-size: 0.8rem;
  text-align: right;
}

/* Style an <hr> to separate posts */
.postseparator {
  width: 60%;
  border: 1px solid var(--color-primary-offset);
}

.postbox {
  margin: 10px 0 10px 0;
  padding: 10px;
}

.fancyseparator {
  padding: 0;
  border: none;
  height: 2px;
  background-image: linear-gradient(to left, rgba(0,0,0,0), var(--color-primary-offset), rgba(0,0,0,0));
  color: var(--color-primary-offset);
}

/* Styling for displaying webmentions */
.wm_summary {
}

.menicons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
}
.micon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.3vw;
  font-size: 0.8rem;
}

/* Slider experiment */
 /* The switch - the box around the slider */
 .slide_toggle {
  padding-bottom: 10px;
  float: right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, lightskyblue, black);
  /* background-image: url('/img/sun_moon_slider.png'); */
  background-size: cover;
  /* -webkit-transition: .4s;
  transition: .4s; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* border: 1px solid var(--color-primary); */
  /* -webkit-transition: .4s;
  transition: .4s; */
}

input:checked + .slider {
  /* background-color: #2196F3; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
} 


/* Rules for sizing icons. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons-outlined.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }