:root {
     --page-background: #fff;  /* white */
    --text-color: #000;       /* black */
    --dropbdr-color: #e0e0e0;  /* light grey */
    --dropbtn-bcolor: #f5f5f5;  /* nearly white (background) */
    --majsep-color: #e0e0e0;
    --minsep-color: #e0e0e0;
    --link-color: #0000ee;    /* HTML standard color */
    --linkv-color: #551a8b;   /* HTML standard color */
    --linkh-color: #ff8a00;   /* Orange! */
    --shadow-color: 0,0,0;
    --prebkg-color: #eeeeee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #121212;  /* very dark grey */
    --text-color: #fff;       /* white */
    --dropbdr-color: #424242;  /* medium dark gray */
    --dropbtn-bcolor: #212121;  /* dark gray */
    --majsep-color: #ff8a00;
    --minsep-color: #424242;
    --link-color: #80deea;    /* lighter teal than std */
    --linkv-color: #80deea;   /* lighter teal than std */
    --linkh-color: #ff8a00;   /* Orange! */
    --shadow-color: 255,255,255;
    --prebkg-color: #424242;
  }
}

body {
  color: var(--text-color);
  background-color: var(--page-background);
  max-width: none;
}

.chart {
    width: 100%;
}
.control {
	padding: 10px;
}

.ctrllabel {
	font-weight: 600;
}

#stats {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stattitle {
	font-weight: 600; 
}

.curval {
	font-size: 1.2em;
}

.widget{
	text-align: center;
	border: 1px solid var(--minsep-color);
	padding: 8px; 
}

#duration, #plottype {
	font-family: inherit;
	font-size: 0.8rem;
}

@media only screen and (max-width: 720px) {
	#stats {
		flex-direction: column;
	}
	.widget {
		margin-bottom: 8px;
	}
}