{% extends 'base.njk' %}

{% block head %}
    {% if appAuthor %} <meta name="developer" content="{{ appAuthor }}">{% endif %}
    <meta name="monetization" content="{{ site.paymentPointer }}">
    <link rel="stylesheet" href="{{ '/css/site.css' | url }}">
    {%- if appCssList -%}
      {%- for cssfile in appCssList -%} 
        <link rel="stylesheet" href="{{ cssfile | url }}">
      {%- endfor -%}
    {%- endif -%}
    {%- if appJsList -%}
      {%- for jsfile in appJsList %} 
      <script src="{{ jsfile | url }}"></script>
      {% endfor -%}
    {%- endif -%}
    {% block apphead %}
    {% endblock apphead %}
{% endblock head %}

{% block content %}
    <div class="slide_toggle">
        <label class="switch">
          <input id="themeswitch" type="checkbox" onclick="toggleTheme()">
          <span class="slider round"></span>
        </label>
    </div>
    <header>
      <h1 class="apptitle">{{ title }}</a></h1>
    </header>

    <main>
      {% block appcontent %}
      {% endblock appcontent %}
    </main>

    <footer>
      {%- include "footer-nav.njk" -%}
    </footer>

    <!-- Current page: {{ page.url | url }} -->
{% endblock content %}
