<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{site.authorName}}, {{site.authorEmail}}">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism-okaidia.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js"></script>
    
    <link rel="webmention" href="https://webmention.io/www.disquisitioner.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.disquisitioner.com/xmlrpc" />
    <link rel="icon" href="/img/David-Bryant-icon128.jpg"/>
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/site.css">
    <script>
        // Take action to prevent theme flashing as page loads

        // if there's a theme id in local storage, set it on the <html> element
        localStorage.getItem('sitetheme') && 
        document.documentElement.setAttribute('data-theme', localStorage.getItem('sitetheme'));
        // Make sure theme selector matches chosen theme
        var selector = document.getElementById("themeswitch");
        if(sitetheme == 'default') selector.checked = false;
        else                       selector.checked = true;
    </script>
    <script src="/js/site.js"></script>
    {%- block head -%}
    {%- endblock head -%}
  </head>
  <body>
    {%- block content -%}
    {%- endblock content -%}
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
