<nav class="navfooter">
  <div class="navfootermenu">
    <ul>
      <li>
        <a href="/articles">Articles</a>
      </li>
      <li>
        <a href="/apps">Apps</a>
      </li>
      <li>
        <a href="/photos">Photos</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
    <div class="footersitetitle"><a href="{{ site.url | url }}">{{ site.name or "Welcome!" }}</a></div>
</nav>