<nav class="navfooter">
  <div class="navfootermenu">
    <ul>
      <li>
        <div class="navmenu__link"><a class="hoverlink" href="/articles">Articles</a></div>
      </li>
      <li>
        <div class="navmenu__link"><a class="hoverlink" href="/apps">Apps</a></div>
      </li>
      <li>
        <div class="navmenu__link"><a class="hoverlink" href="/photos">Photos</a></div>
      </li>
      <li>
        <div class="navmenu__link"><a class="hoverlink" href="/about">About</a></div>
      </li>
    </ul>
  </div>
    <div class="footersitetitle"><a class="hoverlink" href="{{ site.url | url }}">{{ site.name or "Welcome!" }}</a></div>
</nav>