{% extends 'base.njk' %}

{% block head %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}


{% block content %}
  {%- include "hcard.njk" -%}
  <hr class="fancyseparator">

  {{ content | safe }}

{%- for post in collections.post | reverse -%}
	<div class="postbox">
  		<div class="pagehead">
	  		<div class="postlisttitle">{{ post.data.title }}</div>
	  		{%- if post.data.subtitle -%}
	  			<div class="postlistsubtitle">{{ post.data.subtitle }}</div>
	  		{%- endif -%}
	  		<div class="pagedate">Posted: {{ post.data.postdate | dateDisplay }}</div>
	  	</div>
  	{{ post.templateContent | safe }}

  	{%- if post.data.tags.length > 1 -%}
  	<div class="postlisttags">Tagged with:&nbsp;
  	{%- for tag in post.data.tags -%} {%- if tag != "post" -%} #{{ tag }}&nbsp; {%- endif -%} {%- endfor -%}
     </div>
  	{%- endif -%}

	</div>
  <hr class="postseparator">
{%- endfor -%}


{% endblock %}