{% if navigation.items %}
  <nav class="navheader">
    <div class="sitetitle"><a href="{{ site.url | url }}">{{ site.name or "Welcome!" }}</a></div>
    <div class="navmenu">
      <ul>
      {% for item in navigation.items -%}
        {%- set relAttribute = '' -%}
        {%- set currentAttribute = '' -%}

        {%- if item.rel -%}
          {%- set relAttribute = ' rel="' + item.rel + '"' -%}
        {%- endif -%}

        {%- if page.url == item.url -%}
          {% set currentAttribute = ' aria-current="page"' %}
        {%- endif -%}

        <li>
          <a href="{{ item.url }}"{{ relAttribute | safe }}{{ currentAttribute | safe }}>{{ item.text }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
{%- endif -%}
