{% extends 'base.njk' %}

{% block content %}

<article class="h-entry">
	<div class="pagehead">
		<div class="pagetitle p-name">{{ title }}</div>
		{% if subtitle %}
		    <div class="pagesubtitle">{{ subtitle }}</div>
		{% endif %}
	</div>

	<div class="e-content">
		{{ content | safe }}
	</div>

</article>

{% endblock %}