{% extends 'base.njk' %}

{%- block content -%}

<article class="h-entry">
	<div class="pagehead">
		<div class="pagetitle p-name">{{ title }}</div>
		{%- if subtitle -%}
			<div class="pagesubtitle">{{ subtitle }}</div>
		{%- endif -%}
		<div class="pagedate">Posted: <span class="dt-published">{{ postdate }}</span></div>
	</div>

	<div class="postbody e-content">
		{{ content | safe }}
	</div>

	{%- if tags.length > 1 -%}
  	<div class="postlisttags">Tagged with:&nbsp;
  	{%- for tag in tags -%} {%- if tag != "post" -%} #{{ tag }}&nbsp; {%- endif -%} {%- endfor -%}
     </div>
  	{%- endif -%}

</article>

{%- endblock -%}