---
title: Dweet Viewer
description: Display the latest status info from one of the connected devices I've built, via a service called "Dweet (dweet.io)"
appAuthor: David Bryant, david@disquisitioner.com
appCssList: [ /css/dweetview.css ]
appJsList: [ /js/dweetview.js, https://dweet.io/client/dweet.io.min.js ]
monetized: false
eleventyExcludeFromCollections: true
tags: [ app, menuapp ]
---
{% extends 'app.njk' %}

{% block appcontent %}
<p>
	NOTE: Dweet.io went offline in April 2025 and as a result Dweet Viewer no longer
	works. There's community effort to rebuild the service at 
	<a href="https://dweet.me">Dweet.me</a> but features Dweet Viewer depended
	upon are not yet operational there. Until that happens and appropriate changes
	incorporated here Dweet Viewer cannot retrieve data from the supported devices.
<p>
	Here's a convenient way to see the latest data (in the form of a dweet) from one of my connected home devices. If you're not familiar with Dweet, check out <a href="https://dweet.io">Dweet.io</a>.
</p>
<div id="selector">
	<label class="ctrllabel" for="thingmenu">Which Device?</label>
	<select id="thingmenu" name="thingmenu">
		<option value="orangemoose-remotewx" selected>Remote Weather Station</option>
		<option value="orangemoose-cellar">Cellar Monitor</option>
		<option value="orangemoose-gardshed">Garden Shed</option>
		<option value="orangemoose-wxstation">Home Weather Station</option>
		<option value="orangemoose-aqimonitor">Home AQI Monitor</option>
		<option value="orangemoose-airquality">Indoor CO2 Monitor</option>

	</select>
</div>
<p></p>
<div class="ctrllabel">Result</div>
<div id="result">
	<div>
		<label class="ctrllabel" for="thing">Name:</label>
		<span id="thing"></span>
	</div>
	<div>
		<label class="ctrllabel" for="created">Created:</label>
		<span id="created"></span>
	</div>
	<div>
		<label class="ctrllabel" for="dweet">Dweet contained:</label>
		<pre><code class="language-json" id="dweet">...retrieving dweet...</code></pre></p>
		<button id="update" type="button">Update</button>
	</div>
</div>
{% endblock appcontent %}
