--- 
title: Webcam Window
description: Windows to interesting places around the world through a collection of webcams.
appAuthor: David Bryant, david@disquisitioner.com
appCssList: [ /css/webcams.css ]
appJsList: [ /js/webcams.js, /js/luxon.min.js ]
tags: [ app ]
---
{% extends 'app.njk' %}

{% block appcontent %}
<div class="camgallery">
	{% for cam in webcams %}
	  {% if cam.active == "true" %}
		<figure>
			<img src="{{ cam.url }}" onclick="openModal();currentCam({{ loop.index }});" class="thumb" alt="{{cam.label}}">
			<figcaption>{{cam.label}}</figcaption>
		</figure>
	  {% endif %}
	{% endfor %}

</div>
<div class="camfooter">
  Updated: <span id="dateDiv"></span>
</div>

<div id="modal" class="modal">
	<div class="modal-backdrop"></div>
	<div class="modal-body">
		<span class="modal-close" id="close" onclick="closeModal()">&times;</span>

		{% for cam in webcams %}
			<img class="webcam" src="{{cam.url}}">
		{% endfor %}

	    <!-- Next/previous controls -->
	    <a class="prev" onclick="plusCam(-1)">&#10094;</a>
	    <a class="next" onclick="plusCam(1)">&#10095;</a>

	    <!-- Caption text -->
	    <div class="caption" id="caption"></div>
	</div>
</div> 
{% endblock appcontent %}
